<div
  class="container mt-5 justify-content-center res body-res"
  style="border: 2px solid black; padding: 150px;"
>

  <br />
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>
              <h4>Shortning The Url Service</h4>
            </th>
          </tr>
        </thead>

        <tbody>

          <div class="row mt-5">
            <div class="col-md-9">
              <input
                type="”url”"
                id="”urlinput”"
                (change)="geturl($event)"
                class="form-control"
                placeholder=" User name"
              
              />
            </div>
            <div class="col-md-3">
              <div class="btn btn-success" (click)="shorturl()">Short The Url</div>
            </div>
          </div>
          <br /><br />
          <tr>
            <td>
              <a href="{{ shortUrl }}" target="_blank">{{ shortUrl }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
