@media screen and (min-width: 1366px) {
    body-res {
      background-color: olive;
      padding: 110px !important;
    }
  }


  /* @media (min-width: 1200px)
 .res{
    max-width: 1024px;
    padding: 110px !important;
} */
